@import 'config/variables';
@import 'base/base';
@import 'theme/theme';
@import 'layout/layout';
@import 'components/header';
@import 'components/home';
@import 'components/buttons';
@import 'components/about';
@import 'components/security';
@import 'components/services';
@import 'components/app';

h1 {
  color: var(--first-color);
  color: var(--first-color-light);
  color: var(--first-color-lighten);
  color: var(--first-color-alt);
  color: var(--title-color);
  color: var(--text-color);
  color: var(--text-color-light);
  color: var(--body-color);
  color: var(--container-color);
  color: var(--scroll-bar-color);
  color: var(--scroll-thumb-color);
}