@import './reset';
@import './variables';
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: $tp_bg;
    background-size: cover;
    font-family: sans-serif;
}

.login-wrapper {
    @include flexCenter();
    height: 100vh;
    width: 100vw;
    form {
        position: relative;
        width: 100%;
        max-width: 380px;
        padding: 80px 40px 40px;
        background: rgba(0, 0, 0, .5);
        border-radius: 10px;
        color: #fff;
        box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 50%;
            height: 100%;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.08);
            pointer-events: none;
            transform: skewX(-26deg);
            transform-origin: bottom left;
        }
        img {
            position: absolute;
            top: -20%;
            left: calc(50% - 50px);
            width: 100px;
            background: rgba(255, 255, 255, 0.8);
            border-radius: 50%;
        }
        h2 {
            text-align: center;
            letter-spacing: 1px;
            margin-bottom: 2rem;
            color: #ff652f;
        }
        .input-group {
            position: relative;
            input {
                width: 100%;
                padding: 10px 0;
                font-size: 1rem;
                letter-spacing: 1px;
                margin-bottom: 30px;
                border: none;
                border-bottom: 1px solid #fff;
                outline: none;
                background-color: transparent;
                color: inherit;
                &:focus+label,
                &:valid+label {
                    transform: translateY(-18px);
                    color: #ff652f;
                    font-size: .8rem;
                }
            }
            label {
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px 0;
                font-size: 1rem;
                pointer-events: none;
                transition: .3s ease-out;
            }
        }
        .submit-btn {
            display: block;
            margin-left: auto;
            border: none;
            background: #ff652f;
            outline: none;
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
        .forgot-pw {
            color: inherit;
        }
    }
    #forgot-pw {
        // display: none;
        @include flexCenter();
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 0;
        z-index: 1;
        background: #fff;
        opacity: 0;
        transition: .6s;
        &:target {
            height: 100%;
            opacity: 1;
        }
        .close {
            position: absolute;
            right: 1.5rem;
            top: 0.5rem;
            font-size: 2rem;
            font-weight: 900;
            text-decoration: none;
            color: inherit;
        }
    }
}