@import url("http://fonts.cdnfonts.com/css/airbnb-cereal-app");

:root {
  --black: #1c2b2d;
  --color-sec: #db6400;
  --color-primary: #9d0191;
  --color-grey: #eee;
  --color-dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Airbnb Cereal App", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

.main__container {
  display: flex;
  justify-content: center;
}

.instructions {
  font-size: 1.6rem;
  width: 30%;
  height: 100vh;
  background-color: var(--black);
  color: #fff;
  padding-bottom: 5px;
  padding-top: 5rem;
  border-right: 2pxx solid #eee;
}

.instructions h2 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: var(--color-sec);
}

.instructions ol {
  padding-left: 15px;
  padding-top: 10px;
  color: #fff;
}

.instructions ol a {
  text-decoration: none;
  color: var(--color-sec);
}

.line {
  margin: 5px 0;
  position: relative;
}

.line::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 25%;
  height: 2px;
  background-color: #fff;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.download__link {
  width: 70%;
  padding-top: 5rem;
  /* border-right: 5px; */
}

.download__link section {
  border: 2px solid var(--color-primary);
  border-radius: 0 0 5px 5px;
}

/* form section */
main h1 {
  display: block;
  text-align: center;
  color: var(--color-primary);
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 5rem;
  padding-bottom: 1rem;
}

main input[type="radio"] {
  display: none;
}

main nav {
  display: flex;
  background-color: var(--color-grey);
  justify-content: space-around;
  padding: 5px;
  border: 1px solid #fff;
  position: relative;
  z-index: 1;
  align-items: center;
}

main nav label {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem;
  position: relative;
  color: var(--color-dark-grey);
  cursor: pointer;
}

main nav label i {
  padding-right: 0.5rem;
  color: var(--color-sec);
}

nav .slide {
  position: absolute;
  top: 0;
  left: 3%;
  width: 30%;
  height: 100%;
  padding: 0 1rem;
  background-color: var(--color-primary);
  z-index: -1;
  border-radius: 3px;
  transition: all 0.3s;
}

#register:checked ~ nav .slide {
  left: 30%;
}
#reset:checked ~ nav .slide {
  left: 66%;
}

#login:checked ~ nav label.login,
#register:checked ~ nav label.register,
#reset:checked ~ nav label.reset {
  color: #fff;
}

.content {
  display: none;
}

#login:checked ~ section .content-link {
  display: block;
}

#register:checked ~ section .content-audio {
  display: block;
}

#reset:checked ~ section .content-video {
  display: block;
  /* transform: translateX(0); */
}

section .content {
  margin: 3rem auto;
  text-align: center;
}

.content > i {
  font-size: 3rem;
  color: var(--color-sec);
  border: 2px solid;
  padding: 0.8rem;
  border-radius: 5rem;
}

.content h2 {
  font-size: 2rem;
  line-height: 2;
  padding: 0 1rem;
  position: relative;
}

.content h2::before {
  content: "";
  position: absolute;
  width: 2%;
  height: 1px;
  background-color: var(--color-dark-grey);
  top: 50%;
  left: 28%;
  transform: translateY(-50%);
}

.content h2::after {
  content: "";
  position: absolute;
  width: 2%;
  height: 1px;
  background-color: var(--color-dark-grey);
  top: 50%;
  right: 28%;
  transform: translateY(-50%);
}

p {
  padding-bottom: 1rem;
}

.content form {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.content form label {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.content form label input {
  display: block;
  width: 100%;
  padding: 1.3rem 3rem;
  border: 1px solid transparent;
  color: var(--color-dark-grey);
  border-radius: 10px 0 10px 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  outline: none;
  transition: all 0.3s;
}

.content form label input:focus:invalid {
  font-size: 1.6rem;
  border-bottom: 2px solid var(--color-sec);
}

.content form label input:valid {
  font-size: 1.6rem;
  border-bottom: 2px solid green;
  background-color: #e8f0fe;
}

.content form i {
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  font-size: 1.3rem;
  color: var(--color-sec);
}

::placeholder {
  color: var(--color-dark-grey);
  font-size: 1.5rem;
}

.content .btn {
  padding: 1.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: var(--color-sec);
  outline: none;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
}

.embed__code {
  font-size: 1.6rem;
  position: relative;
}

.content form textarea {
  width: 100%;
  height: 10rem;
  outline: none;
  font-size: 1.6rem;
  font-family: inherit;
}

.embed__code span {
  position: absolute;
  right: 1px;
  bottom: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: var(--color-primary);
  padding: 5px 8px;
  border: 1px solid #eee;
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
}

.embed__code span:hover {
  font-size: 1.8rem;
}

button.clear {
  padding: 0.8rem;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 1rem;
  background-color: red;
  outline: none;
  border: none;
  border-radius: 3px;
  color: #fff;
  transition: all 0.3s;
}

button.clear:hover {
  background-color: orangered;
}
