body {
    /* color: black; */
    margin: 24px 0;
    padding: 0;
}

#main {
    background: #EEE;
    margin: auto;
    overflow: hidden;
    width: 98%;
}

#title {
    text-align: center;
}

h1 {
    font-size: 36px;
    padding-top: 10px;
    font-weight: 800;
}

#img-div {
    background: #fff;
    margin: 20px 14px;
    padding: 0 10px;
}

#img-div img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

#img-div p {
    text-align: center;
    line-height: 1.6em;
    padding-bottom: 14px;
}

#tribute-info {
    /* padding: 0 10px; */
    width: 80%;
    margin: auto;
}

#tribute-info ul {
    width: 100%;
    margin: auto;
}

#tribute-info h2 {
    padding-top: 28px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

#tribute-info li {
    padding: 12px 0;
    font-size: 16px;
}

#tribute-info span {
    font-weight: 800;
}

.qtext {
    /* padding: 0 30px; */
}

.more-intro {
    font-size: 20px;
    font-weight: 800;
    padding: 18px 14px 4px;
    text-align: center;
    line-height: 1.4em;
}

#tribute-link {
    text-decoration: none;
    color: #477DA6;
}