body {
  background: hsl(233, 47%, 7%);
}

main {
  background: hsl(244, 38%, 16%);
  min-width: 1118px;
  min-height: 422px;
  margin: 9% auto 10px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.left {
  display: flex;
  flex-direction: column;
}

.left h1 {
  font-weight: 700;
  margin-top: 70px;
  max-width: 588px;
  box-sizing: border-box;
  padding: 0 50px 0 70px;
  color: hsl(0, 0%, 100%);
  font-size: 38px;
}

h1 span {
  color: hsl(277, 64%, 61%);
}

.left p {
  width: 360px;
  margin: 0 0 0 70px;
  font-size: 15px;
  font-weight: 400;
  word-spacing: 2px;
  line-height: 1.5;
  color: hsla(0, 0%, 100%, 0.75);
}

.stats-container {
  display: flex;
  margin-top: 64px;
  padding-left: 70px;
  justify-content: flex-start;
  text-transform: uppercase;
}

.stats-container div {
  font-size: 13px;
  color: hsla(0, 0%, 100%, 0.6);
}

.stats-container span {
  display: block;
  font-weight: 700;
  font-size: 23px;
  color: hsl(0, 0%, 100%);
  margin-bottom: 4px;
}

.stats-container div:nth-child(1) span {
  text-transform: none;
}

.stats-container div + div {
  margin-left: 70px;
}

.right {
  background: linear-gradient(hsl(277, 64%, 61%, 0.4), hsl(277, 64%, 61%, 0.4)),
    url("images/image-header-desktop.jpg");
  width: 530px;
  border-radius: 0 5px 5px 0;
  padding: 211px 0;
  background-position-y: -10px;
}
