* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrap {
  margin: 100px 0;
}

.container {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 5px;
  position: relative;
  overflow: hidden;
}

.container h1 {
  width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
  font-size: 140px;
  padding-left: 15px;
  color: rgba(200, 200, 200, .3);
  position: absolute;
  left: 0;
  top: 50px;
  line-height: 0.6em;
}

.container .txt {
  width: 600px;
  flex-shrink: 0;
  box-sizing: border-box;
  column-count: 2;
  column-gap: 30px;
  padding: 15px;
  position: relative;
  z-index: 1;
}

.container .txt p {
  margin-bottom: 1em;
}

.container .txt p:first-child::first-letter {
  font-size: 60px;
  float: left;
  padding-right: 10px;
}