* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: 'Heebo', sans-serif;
}

.loading {
  min-height: 100vh;
  background: url("https://z1.muscache.cn/pictures/carson/carson-1607324418265/original/bb381489-9ad0-43fd-920c-642561ec80ef.jpg");
  background-size: contain;
  padding: 0rem 5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  color: rgb(255, 255, 255);
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  padding-left: 10rem;
  font-size: 1.2rem;
}

#logo {
  font-family: "Lobster", cursive;
  font-weight: lighter;
  font-size: 2rem;
}

.big-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 5rem;
  font-family: "Lobster", cursive;
  color: rgb(61, 61, 61);
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  color: rgb(233, 233, 233);
  font-family: "Lobster", cursive;
  font-size: 3rem;
}

.slider {
  background: rgb(163, 193, 207);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  transform: translateY(100%);
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}