:root {
  --space: 1rem;
  --border: 4px;
  --page-wdith: 80ch;
  --font-family: "Airbnb Cereal", sans-ferif;
  --color-link: black;
  --color-active: #00848a;
  --duration: 350ms;
  --section-offset: 0;
}

* {
  box-sizing: border-box;
}

html {
  --scroll-behaboir: smooth;
  scroll-behavior: var(--scroll-behaboir);

  @media (prefers-reduced-motion: reduce) {
    --scroll-behaboir: auto;
  }
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: bold;
  line-height: 1.25;
}

h1 {
  font-size: 2.75rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.5rem;
}

ul:not(.menu) {
  list-style-type: disc;
  margin-left: var(--space);
}

ul:not(.menu) li + li {
  margin-top: var(--space);
}

