body {
    background: rgba(0, 0, 0, .5);
    margin: 0;
    padding: 0;
}

h1,
p,
div,
input {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80%;
    margin: 30px auto;
}

#title {
    text-align: center;
    color: #fff;
}

#description {
    text-align: center;
    font-style: italic;
    color: #F3F3F3;
    font-size: 18px;
    padding: 10px 0;
}

#survey-form {
    background: rgba(139, 110, 74, 0.9);
    width: 100%;
    max-width: 640px;
    margin: auto;
    padding-top: 30px;
}

@media (max-width: 600px) {
    #survey-form {
        background: #008489;
        width: 100%;
    }
}


/* #survey-form label {
    color: #fff;
    line-height: 1.6em;
    font-size: 20px;
} */

#survey-form label {
    color: #fff;
    line-height: 1.6em;
    font-size: 20px;
    /* padding-bottom: 20px; */
}

#survey-form div:first-child {
    /* padding-top: 30px; */
}

#survey-form input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    height: 36px;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 12px;
}

#survey-form input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0.1px 0.1px 0.2px 0.2px blue;
}

#survey-form div {
    padding: 0 30px 20px;
}

#recommnd_radio {
    /* font-size: 20px; */
}

#recommnd_radio .inner,
#improved .inner {
    padding: 0;
    display: flex;
}

#recommnd_radio label,
#improved label {
    padding-left: 10px;
    width: 100%;
    line-height: 1.6em;
    font-size: 20px;
    height: 29px;
}

#recommnd_radio label:first-child,
#improved label:first-child {
    padding: 0;
}

#recommnd_radio input[type="radio"],
#improved .inner input[type="checkbox"] {
    transform: scale(1.4);
    align-self: center;
}

#recommnd_radio input:focus {
    /* border: none;
    box-shadow: none;
    outline: none; */
    box-shadow: none;
}

.comments p {
    font-size: 20px;
    color: #fff;
}

.comments textarea {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#submit {
    width: 100%;
    background: #008a48;
    margin: auto;
    padding: 16px 0;
    color: #fff;
    border-radius: 2px;
    font-size: 18px;
}

#submit:hover {
    box-shadow: 0.1px 0.1px 0.1px 0.1px #ccc;
    /* background: red; */
}