* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1200px;
  margin: auto;
  display: flex;
  padding: 100px 0;
}

.container h1 {
  width: 400px;
  text-align: right;
  box-sizing: border-box;
  padding: 20px 12px 0;
  background-color: #D5C7B9;
}

.container h1::after {
  content: "";
  display: block;
  height: 4px;
  width: 5.3em;
  background-color: #000;
  margin-left: auto;
}

.container .txt {
  width: 800px;
  box-sizing: border-box;
  padding: 15px;
  column-count: 2;
  column-gap: 30px;
}