@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --radisu: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #272727;
    color: white;
    font-family: 'Odibee Sans', sans-serif;
    font-size: 2rem;
}

.square {
    width: 25vh;
    height: 25vh;
    background-color: #ff652f;
    margin: 1rem;
    border-radius: var(--radisu);
}

.form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 0.25rem;
}

label {
    width: 14rem;
    text-align: right;
}