li {
    list-style: none;
}

body {
    /* padding: 20px; */
}

ul {
    background-color: darkseagreen;
    height: 300px;
    overflow-y: auto;
}

li {
    padding: 5px;
}

li:hover {
    background-color: darkturquoise;
}

* {
    margin: 0;
    padding: 0;
}

p {
    background-color: #f1f1f1;
    padding: 14px;
    margin: 20px;
}

code {
    display: block;
    padding: 0.2rem 0;
}