* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ccc;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.banner {
  width: 800px;
  height: 500px;
  margin: 100px auto;
  background: #ffffff;
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px;
}

.customer_service {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 90px;
  line-height: 90px;
}

.server_icon {
  display: inline-block;
}

.banner h4 {
  display: inline-block;
}

.property_highlights {
  padding: 24px 0;
  border-bottom: 1px solid #ccc;
}

.property_highlights li {
  height: 44px;
  line-height: 44px;
}

.property_highlights_title {
  width: 20%;
  float: left;
}

.property_highlights_desc {
  width: 80%;
  font-size: 15px;
  color: #464646;
}

.facilities {
  border-bottom: 1px solid #ccc;
  height: 120px;
}

.facilities li {
  width: 16.6667%;
  float: left;
  text-align: center;
  padding: 30px 0;
  height: 120px;
}

.facilities li div:nth-child(1) {
  padding-bottom: 4px;
}

.facilities li div:nth-child(2) {
  padding-top: 4px;
}

.facilities a {
  color: #438385;
}