@mixin flexCenter($direction, $background) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: $direction;
    background: $background;
}

header {
    @include flexCenter(column, red);
    background: lightblue;
    color: $textColor;
    button {
        background: $primaryBtn;
        &::after {
            content: 'Helloooooooo';
            background: rebeccapurple;
        }
    }
}