@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    background: #272727;
    height: 100vh;
    text-align: center;
    line-height: 1.4;
}

h3 {
    text-transform: uppercase;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    position: relative;
    margin: 1em;
}

.card::before,
.card:after {
    content: '';
    position: absolute;
    opacity: 1;
    transition: transform ease-out 250ms;
}

.card::before {
    top: 1em;
    left: 1em;
    right: 1em;
    border-top: 1px solid #fff;
    transform: scale(0, 1);
    transform-origin: left;
}

.card::after {
    bottom: 1em;
    left: 1em;
    right: 1em;
    border-top: 1px solid #fff;
    transform: scale(0, 1);
    transform-origin: right;
}

.card:hover::before,
.card:hover::after {
    transform: scale(1, 1);
}

.card_img {
    width: 100%;
    display: block;
    transition: opacity ease-out 250ms;
}

.card:hover .card_img {
    opacity: .4;
}

.card_text {
    position: absolute;
    padding: 0 1em;
    color: #fff;
    top: 0;
    transition: opacity ease-out 250ms;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card:hover .card_text {
    opacity: 1;
}

.card_title {
    font-size: 2rem;
}