.container {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-flow: row wrap;
}

.list-item {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    background: #477da6;
    color: #fff;
    text-align: center;
    line-height: 200px;
}