*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

#page-header {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #000;
}

#page-header>.brand-logo {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#page-header>div a {
    display: inline-block;
}

#page-header .brand-logo a img {
    height: 30px;
    margin: 15px;
}