* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  background-image: linear-gradient(90deg, #3a5894, #08c7a5);
}

.table {
  width: 800px;
  margin: auto;
}

.table table {
  border: 3px double #666;
  width: 100%;
  background: #fff;
  border-radius: 10px;
}

.table thead {
  background: #333;
  color: #fff;
}

.table thead th:first-child {
  border-radius: 7px 0 0 0;
}

.table thead th:last-child {
  border-radius: 0 7px 0 0;
}

.table tbody tr:nth-child(even) {
  background-color: #ffa;
}

.table tbody a {
  color: #777;
}

.table tbody tr:hover {
  background-color: #EEE;
}

.table tfoot td:first-child {
  border-radius: 0 0 0 7px;
}

.table tfoot td:last-child {
  border-radius: 0 0 7px 0;
}

.table tr {}

.table th, .table td {
  border: 1px solid #666;
  padding: 6px 10px;
}

.table td {}

.table caption {
  caption-side: bottom;
  text-align: right;
  padding: 10px 0;
  color: #ccc;
}

.table caption a {
  color: #eee;
}
