* {
  margin: 0px;
  padding: 0px;
}

body, html {
  height: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

aside {
  width: 20%;
  height: 100%;
  background: #15426b;
  float: left;
}

aside h1 {
  text-align: center;
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  color: #ffffff;
}

aside p {
  text-align: center;
  height: 20px;
  line-height: 20px;
  color: #ffffff;
}

aside ul {
  transform: translateY(50%)
}

aside ul li {
  text-align: center;
  margin: 20px auto;
}

aside ul li a {
  color: #ffffff;
}

aside ul li a:hover {
  text-decoration: underline;
}

main .banner {
  width: 79%;
  background: lightgrey;
  float: right;
  height: 270px;
}

main .banner img {
  height: 100%;
  width: 100%;
}

.breadcrumb {
  width: 79%;
  float: right;
  font-size: 15px;
  border-bottom: 1px solid #ccc;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.desc {
  width: 79%;
  float: right;
  margin-top: 8px;
}

.desc img {
  width: 174px;
  height: 120px;
  float: left;
  padding: 0 10px 0 0;
}