* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calendar {
  width: 350px;
  height: 270px;
  background: #ffffff;
  margin: 100px auto;
  border: 2px solid lightblue;
}

table, tr, td {
  border-collapse: collapse;
}

table {
  padding: 10px;
}

table tr td {
  width: 50px;
  text-align: center;
}

table tr {
  height: 40px;
  border-bottom: 2px solid #ccc;
}

table tr td {
  font-weight: 700;
}

table tr td:first-child, table tr td:last-child {
  color: red;
}

table tr:nth-child(2) td:first-child {
  color: #ccc;
}

table tr:last-child td:nth-child(5), table tr:last-child td:nth-child(6), table tr:last-child td:nth-child(7) {
  color: #ccc;
}