* {
    margin: 0;
    padding: 0;
}

.container {
    min-width: 80%;
    background-color: gray;
    margin: 20rem auto;
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul li {
    list-style: none;
    background-color: darkcyan;
    padding: 1rem;
    color: #fff;
    margin: 0 1rem;
    width: 6rem;
    height: 6rem;
}