body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  padding-top: 5rem;
  text-align: center;
}

h1 {
  font-size: var(--fs-900);
  color: var(--clr-primary-700);
  line-height: 1;
  min-width: 12ch;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  font-weight: 800;
}

.lead {
  font-size: var(--fs-500);
}