:root {
  --clr-primary-700: hsl(300, 43%, 22%);
  --clr-primary-300: hsl(333, 80%, 67%);

  --clr-neutral-100: hsl(303, 10%, 53%);
  --clr-neutral-200: hsl(300, 24%, 96%);
  --clr-neutral-300: hsl(0, 0%, 100%);

  --ff-primary: 'spartan', sans-serif;

  --fs-400: .8125rem;
  --fs-500: .9625rem;
  --fs-900: 2rem;

  --br: 0.5rem;

  @media (min-widht: 50em) {
    --fs-900: 3rem;
  }
}