* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrap {
  margin: 100px 0;
}

.container {
  width: 1200px;
  margin: auto;
  display: flex;
}

.container h1 {
  width: 400px;
  flex-shrink: 0;
  box-sizing: border-box;
  order: 1;
  font-size: 80px;
  padding-left: 30px;
  color: #aaa;
  position: relative;
}

.container h1::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border: 30px solid #a00;
  top: 0;
  left: 0;
  transform: rotate(10deg);
  z-index: -1;
}

.container h1::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border: 30px solid #a00;
  top: 0;
  left: 0;
  transform: rotate(17deg);
  z-index: -1;
}

.container .txt {
  width: 800px;
  flex-shrink: 0;
  box-sizing: border-box;
  column-count: 2;
  column-gap: 30px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 5px;
}

.container p {
  margin-bottom: 1em;
}