@import url("https://fonts.googleapis.com/css2?family='Roboto', sans-serif&display=swap") * {
    margin: 0;
    padding: 0;
    color: #000;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    color: #000;
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
    /* padding: 20px 40px; */
    padding: 0 40px;
    /* padding: 0 20px; */
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    height: 500vh;
}

.top-header {
    position: sticky;
    top: 0;
    z-index: 100;
}

#header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    /* background-color: gray; */
    /* height: 40px; */
    height: 90px;
    background-color: #eeeeee;
}

#header-img img {
    height: 40px;
    display: inline-block;
}

#nav-bar ul {
    display: flex;
    list-style: none;
}

#nav-bar li {
    padding: 0 8px;
}

#nav-bar li:hover {
    background-color: darkcyan;
    cursor: pointer;
}

#nav-bar a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
}


/* Medium screen */

@media (max-width: 700px) {
    #header {
        height: 110px;
    }
    #header-img {
        align-self: center;
    }
    #header {
        justify-content: space-around;
    }
    #nav-bar ul {
        flex-direction: column;
    }
    #nav-bar a {
        line-height: 24px;
    }
}


/* Small screen */

@media (max-width: 600px) {
    body {
        padding: 0;
    }
    #header {
        flex-direction: column;
        height: 140px;
        padding-bottom: 2px;
    }
    #main-feature span i,
    #main-feature span {
        opacity: 0;
        flex: 0;
        font-size: 0;
    }
    #main-feature div div {
        text-align: center;
    }
    .myVideo #video {
        width: 100%;
    }
}

.home-made {
    margin-top: 1rem;
    text-align: center;
    line-height: 1.6;
    font-size: 1.2rem;
}

#form {
    margin-top: 12px;
    text-align: center;
    /* background-color: gray; */
}

#form #email {
    padding: 6px;
    width: 18rem;
    border-radius: 4px;
}

#form #submit {
    margin-top: 10px;
    padding: 6px 30px;
    background-color: darkcyan;
    color: #fff;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#form #submit:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
    transition: all 0.3s ease-in-out;
}

#main-feature {
    /* margin: 8em auto; */
    margin: 6em auto;
    display: flex;
    flex-direction: column;
    width: 80%;
}

#main-feature i {
    color: darkorange;
}

#main-feature>div {
    min-height: 1em;
    display: flex;
    margin: 1em 0;
}

#main-feature>div span {
    width: 2.6em;
    align-self: center;
    font-size: 2.4em;
    justify-self: center;
}

#main-feature h4 {
    padding-bottom: 3px;
}

div.fe-permium {
    flex: 4;
    font-size: 1.4rem;
    align-self: center;
}

div.fe-fast-ship {
    flex: 4;
    font-size: 1.4rem;
    align-self: center;
}

div.fe-quality-assu {
    flex: 4;
    font-size: 1.4rem;
    align-self: center;
}

#main-feature p {
    font-size: 1rem;
}

.myVideo {
    display: flex;
    justify-content: center;
}

#video {
    width: 600px;
    height: 320px;
    outline: none;
}

#type-trombone {
    margin-top: 80px;
    /* background: gray; */
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (max-width: 1000px) {
    body {
        padding: 0 10px;
    }
}

@media (max-width: 800px) {
    #type-trombone {
        flex-direction: column;
    }
    #type-trombone>div {
        align-self: center;
    }
    #type-trombone div:nth-child(2) {
        margin: 10px 0;
    }
}

#type-trombone>div {
    width: 20em;
    height: 20em;
    border-radius: 2px;
    border: 1px solid #000;
}

#type-trombone h5 {
    font-size: 1.2rem;
    height: 3rem;
    line-height: 3rem;
    background-color: #ccc;
}

#type-trombone .tb-price {
    font-weight: 900;
    font-size: 1.6rem;
    /* background-color: rosybrown; */
    padding: 10px 0;
}

#type-trombone p {
    font-weight: 400;
    /* background-color: beige; */
    padding: 6px 0;
}

#type-trombone button {
    margin-top: 54px;
    width: 8rem;
    height: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#type-trombone button:hover {
    box-shadow: 0 0 5x 15px rgba(0, 0, 0, .3);
}

.tb-tenor {
    /* background-color: darkcyan; */
}

.tb-bass {
    /* background-color: darkgoldenrod; */
    margin: 0 20px;
}

.tb-valve {
    /* background-color: darkgreen; */
}