    @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
    .flexbox-container {
        background-color: #8b6e4a;
        border: 3px solid #272727;
        position: relative;
        font-family: 'Roboto', sans-serif;
    }
    /* .flexbox-container::before,
    .flexbox-container::after {
        font-size: 1.5rem;
    }
    
    .flexbox-container::before {
        content: 'Main Axis';
        position: absolute;
        top: 50%;
        height: 30px;
        line-height: 1.4;
        width: 100%;
        margin-top: -15px;
        transform: translateY(-50%);
        box-sizing: border-box;
        border-bottom: 3px solid yellow;
        color: yellow;
        padding-left: 6rem;
    }
    
    .flexbox-container::after {
        content: 'Cross Axis';
        position: absolute;
        left: 50%;
        height: 100%;
        box-sizing: border-box;
        border-left: 3px solid #fff;
        width: 30px;
        writing-mode: vertical-lr;
        line-height: 1;
        color: #fff;
        transform: rotate(-180deg) translateX(100%);
        padding-top: 10px;
    } */