* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #9d0191;
  --white: #fff;
}

html {
  font-size: 10px;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

section.top {
  width: 100%;
  height: 100vh;
  text-align: center;
  margin: auto;
}

.top-content {
  width: 80%;
}

.top-content > * {
  margin-bottom: 2rem;
}

.top h1 {
  font-size: 3rem;
  padding: 1rem 0;
}

.top h1 {
  font-size: 3rem;
  padding: 1rem 0;
}
.top img {
  width: 70%;
}
.btn {
  padding: 1rem;
  background-color: var(--color-primary);
  color: var(--white);
  border: none;
  border-radius: 3px;
  outline: none;
}
