:root {
  --color-dark-grey: #222831;
  --color-second: #db6400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.product__container {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.product__img {
  width: 100%;
  padding: 0 2rem;
}

.product__desc {
  width: 100%;
}

.img__large {
  width: 40rem;
  margin-bottom: 1rem;
}

.img__small {
  width: 40rem;
  display: flex;
  padding-bottom: 8px;
  margin-bottom: 8px;
  overflow-x: auto;
}

.img__small img {
  width: 8rem;
  height: 8rem;
  border: 1px solid var(--color-dark-grey);
  border-radius: 3px;
  margin-right: 1rem;
  cursor: pointer;
}

.img__small::-webkit-scrollbar {
  height: 5px;
  width: 2px;
  border: 1px solid #d5d5d5;
  background: #d5d5d5;
}

.img__small::-webkit-scrollbar-track {
  --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, , 3);
}

.img__small::-webkit-scrollbar-thumb {
  background-color: var(--color-second);
  outline: 1px solid #eee;
}
