* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.shape-container {
  position: absolute;
  width: 100%;
  height: 330px;
  overflow: hidden;
}

div.shape {
  position: relative;
  top: -200px;
  left: -450px;
  background: #444;
  width: 3000px;
  height: 530px;
  border-radius: 50%;
}

div.info {
  position: relative;
  z-index: 1;
  top: 135px;
  left: calc(50vw- 150px);
  width: 300px;
  height: calc(350px + 4vw);
  background-color: #f2f2f2;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0 0.43);
  overflow: hidden;
}

/* #shape-container {
  width: 100vw;
  top: -135px;
  left: calc(-50vw + 150px);
} */

.info div.shape-container {
  width: 100vw;
  top: -135px;
  left: calc(-50vw + 150px);
}

.info .shape {
  background-image: url(https://www.delas.pt/files/2016/09/homer-delas.jpg);
  background-repeat: no-repeat;
  background-size: 300px 200px;
  background-position: calc(50vw + 300px) 330px;
}

span.content {
  display: inline-block;
  margin-top: calc(50% + 4vw);
  width: 80%;
  height: 40%;
  padding: 0 10%;
  text-align: left;
  color: #444;
}

span.content h3 {
  margin: 0;
  color: #222;
  font-size: 25px;
  font-weight: normal;
}

span.content p {
  margin: 0;
  font-size: 15px;
}

span.logos {
  display: inline-block;
  margin-top: 13%;
  width: 100%;
}

span.logos span i{
  display: block;
  text-align: center;
  font-size: 22px;
  width: 1/6 * 100%;
  float: left;
}

span.logos span:hover {
  color: #222;
  cursor: pointer;
}
