@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

$green: #3f5d45;
$light_green: #eaf0ed;
$white: #fff;
$yellow: #ffe180;


.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 28px;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

body,
html {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "cwtexyen", sans-serif;
  font-size: 18px;
  color: $green;
}

* {
  position: relative;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
  padding: 0;
  margin: 0;
}

input,
select {
  appearance: none;
  border-radius: 0px;
  outline: none;
  border: none;
  font-family: "cwtexyen", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: $green;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

// header
header {
  font-size: 1rem;

  .logo {
    width: 220px;

    img {
      width: 100%;
    }
  }

  nav {
    padding: 30px 42px;
    width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      align-items: center;
      flex-direction: row;

      li {
        margin: 0 30px;
        padding: 5px 10px;
        transition: all 0.3s;

        &:hover {
          box-shadow: 0 3px 0 $green;
        }
      }
    }
  }
}

// slide
.slide {
  width: 940px;
  height: 496px;
  margin: auto;
  background-image: url(../../img/slide.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
}

// topic_area
.topic_area {
  display: flex;
  justify-content: center;
  transform: translateY(-60%);
  // margin-bottom: -80px;

  .topic {
    width: 260px;
    height: 260px;
    overflow: hidden;

    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background: $green;
      color: $white;
      opacity: .8;
      transition: all .3s;

      &:hover {
        background: $yellow;
        color: $green;
      }
    }

    p {
      writing-mode: vertical-rl;
      text-align: center;
      letter-spacing: 10px;
      cursor: pointer;
      font-size: 1.5rem;
    }

    .blur_bg {
      position: absolute;
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 100%;
    }

    &:nth-child(1) {
      .blur_bg {
        background-image: url("../../img/topic_1.jpg");
      }
    }

    &:nth-child(2) {
      .blur_bg {
        background-image: url("../../img/topic_2.jpg");
      }
    }

    &:nth-child(3) {
      .blur_bg {
        background-image: url("../../img/topic_3.jpg");
      }
    }
  }
}

// section-why1
section {
  width: 100%;
  height: 420px;
  padding: 40px 35px;
  margin-bottom: 80px;
  background: $light_green;

  .contain {
    display: flex;
    position: relative;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    width: 940px;
    margin: auto;
  }

  #why_2 {
    flex-direction: row-reverse;
  }

  .reason {
    flex: 1;
    display: flex;
    align-items: center;
    height: 460px;
    margin: 0 40px;

    p {
      writing-mode: vertical-rl;
      display: inline-block;
      font-size: 1rem;
      line-height: 28px;
      max-height: 300px;
      color: #8da291;
      margin: 0 15px;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      width: 90px;
      height: 300px;
    }
  }

  .pic_1,
  .pic_2 {
    flex: 1;
    width: 460px;
    height: 460px;
    background-size: cover;
    background-position: center;
  }

  .pic_1 {
    background-image: url("../../img/reason1.jpg");
  }

  .pic_2 {
    background-image: url("../../img/reason2.jpg");
  }
}

// noreason
.noreason {
  width: 1024px;
  height: 360px;
  background-image: url("../../img/lg-想吃甜点是不需要理由的.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 120px auto;
}

// products
.products {
  width: 1024px;
  display: flex;
  margin: 30px auto;
  justify-content: space-around;

  .item {
    display: flex;
    flex-direction: column;

    .img_box {
      width: 300px;
      height: 300px;
      overflow: hidden;

      img {
        width: 100%;
        transition: all .3s;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }

    .cate {
      font-size: 1rem;
      position: absolute;
      writing-mode: vertical-lr;
      left: 0;
      top: 0;
      letter-spacing: 3px;
      background: $green;
      color: $white;
      margin-left: 15px;
    }

    .item_info {
      display: flex;
      justify-content: space-around;
      padding: 10px;
      font-size: 1.35rem;

      .price {
        font-weight: bold;
      }
    }

    .addcart {
      cursor: pointer;
      background: $light_green;
      font-size: 1.2rem;
      text-align: center;
      padding: 10px 90px;
      transition: all .3s;

      &:hover {
        color: $white;
        background: $green;
      }
    }
  }
}

// footer
footer {
  margin-top: 40px;
  background: $light_green;

  .subscribe {
    background: $green;

    .container {
      width: 960px;
      margin: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 30px 0;
    }

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      color: $light_green;
      font-size: 1.5rem;
      padding: 0 20px;
    }

    img {
      width: 40px;
    }
  }

  .email {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      height: 56px;
      line-height: 56px;
      padding: 6px 20px;
      background: #fff;
    }

    label {
      cursor: pointer;
      background: $yellow;
      height: 56px;
      line-height: 56px;
      padding: 6px 20px;
    }

    input {
      color: $green;
      font-size: 1.2rem;
      width: 300px;
      height: 56px;
      padding: 10px;
      outline: none;
      border: none;
    }
  }

  .bottom {
    display: flex;
    width: 960px;
    height: 340px;
    margin: auto;
    padding: 30px 0;

    .left {
      flex: 1;
      height: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;

      .logo {
        img {
          width: 170px;
        }
      }
      .icon img {
        width: 32px;
      }
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      img {
        width: 60px;
      }
    }
  }

}