@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

$green: #3f5d45;
$light_green: #eaf0ed;
$white: #fff;
$yellow: #ffe180;


.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 28px;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

body,
html {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "cwtexyen", sans-serif;
  font-size: 18px;
  color: $green;
}

* {
  position: relative;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
  padding: 0;
  margin: 0;
}

input,
select {
  appearance: none;
  border-radius: 0px;
  outline: none;
  border: none;
  font-family: "cwtexyen", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: $green;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

// header
header {
  font-size: 1rem;

  .logo {
    width: 220px;

    img {
      width: 100%;
    }
  }

  nav {
    padding: 30px 42px;
    width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      align-items: center;
      flex-direction: row;

      li {
        margin: 0 30px;
        padding: 5px 10px;
        transition: all 0.3s;

        &:hover {
          box-shadow: 0 3px 0 $green;
        }
      }
    }
  }

  .mobile_menu {
    display: none;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &.active {
      ul {
        display: block;
      }
    }

    .container_ul {
      display: block;
      width: 100%;
      height: 0;
      position: relative;
      overflow: hidden;
      transition: height .6s;

      ul {
        position: absolute;
        bottom: 0;
      }
    }

    .hamburger {
      cursor: pointer;
      display: inline-block;

      span {
        margin: 5px 0;
        display: inline-block;
        position: relative;
        width: 18px;
        height: 2px;
        border-radius: 2px;
        background: $green;

        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
          height: 2px;
          background: $green;
        }

        &::before {
          top: -5px;
        }

        &::after {
          top: 5px;
        }
      }
    }

    ul {
      // display: none;
      background: $white;
      width: 100%;
      flex-direction: column;
      text-align: left;
      padding: 20px 0;

      li {
        margin: 0;
        padding: 10px 0;
        width: 100%;
        border-bottom: 1px solid $light_green;

        a {
          display: block;
          width: 100%;
        }

        &:last-child {
          border: none;
        }
      }

    }

  }
}

// slide
.slide {
  width: 940px;
  height: 496px;
  margin: auto;
  background-image: url(../../img/slide.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
}

// product
.product_contain {
  width: 940px;
  margin: auto;
  display: flex;
  justify-content: space-between;

  .list {
    flex: 1;
    font-size: 1rem;
    text-align: center;

    ul {
      margin-right: 10px;

      li {
        padding: 15px 100px;

        &:first-child {
          color: $white;
          background: $green;
        }

        &:not(:first-child):hover {
          background: $light_green;
        }
      }
    }
  }

  .products_box {
    flex: 2;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .item {
      display: flex;
      flex-direction: column;
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 10px;

      .img_box {
        width: 300px;
        height: 300px;
        overflow: hidden;

        img {
          transition: all .3s;
          width: 100%;
        }

        &:hover {
          img {
            transform: scale((1.1));
          }
        }
      }
    }

    .cate {
      font-size: 1rem;
      position: absolute;
      top: 0;
      left: 0;
      writing-mode: vertical-lr;
      padding: 8px;
      letter-spacing: 3px;
      background: $green;
      color: $white;
      margin-left: 15px;
    }

    .item_info {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      font-size: 1.25rem;
    }

    .addcart {
      cursor: pointer;
      background: $light_green;
      font-size: 1.2rem;
      text-align: center;
      padding: 10px 90px;
      transition: all .3s;

      &:hover {
        color: $white;
        background: $green;
      }
    }
  }
}

.navigation {
  margin: 20px 5px;

  ul {
    display: flex;
    justify-content: flex-end;
  }

  li {
    cursor: pointer;
    border: 1px solid $light_green;
    padding: 15px 20px;
    margin: 0 1px;

    &:hover {
      background: $light_green;
    }

    i {
      font-size: 1rem;
    }
  }

  .active {
    color: $light_green;
    background: $green;

    &:hover {
      background: $green;
    }
  }
}


// footer
footer {
  margin-top: 40px;
  background: $light_green;

  .subscribe {
    background: $green;

    .container {
      width: 960px;
      margin: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 30px 0;
    }

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      color: $light_green;
      font-size: 1.5rem;
      padding: 0 20px;
    }

    img {
      width: 40px;
    }
  }

  .email {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      height: 56px;
      line-height: 56px;
      padding: 6px 20px;
      background: #fff;
    }

    label {
      cursor: pointer;
      background: $yellow;
      height: 56px;
      line-height: 56px;
      padding: 6px 20px;
    }

    input {
      color: $green;
      font-size: 1.2rem;
      width: 300px;
      height: 56px;
      padding: 10px;
      outline: none;
      border: none;
    }
  }

  .bottom {
    display: flex;
    width: 960px;
    height: 340px;
    margin: auto;
    padding: 30px 0;

    .left {
      flex: 1;
      height: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;

      .logo {
        img {
          width: 170px;
        }
      }

      .icon img {
        width: 32px;
      }
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      img {
        width: 60px;
      }
    }
  }

}