* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.banner {
  height: 700px;
  background: url(./IMG_0506.JPG) center top / cover;
}

.sec .container {
  width: 1200px;
  margin: auto;
  display: flex;
  padding: 100px 0;
  z-index: 2;
  position: relative;
}

.sec .item {
  width: 570px;
  margin: 0 15px;
}

.sec .item h2 {
  margin-bottom: 1.3em;
}

.sec .item p {
  line-height: 1.7;
  margin-bottom: 1.6em;
}

.sec {
  position: relative;
}

.sec::after {
  content: "";
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #fff;
  top: 0;
  left: 50%;
  transform: translateX(-30%) translateY(-50%);
  border-radius: 50%;
  box-shadow: 178px 0 0 30px #fff,
              327px 34px 0 20px #fff,
              480px 9px 0 60px #fff,
              880px 0 0 89px #fff,
              -178px 0 0 30px #fff,
              -327px 34px 0 20px #fff,
              -480px 71px 0 60px #fff,
              -690px 71px 0 60px #fff,
              -880px 0 0 89px #fff;
}

.sec::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: #fff;
  z-index: 1;
  top: 0;
  left: 0;
}