@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Playfair+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  background: #f5e8cb;
}

header {
  background-image: url("pic/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30vh;
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  background-color: rgba(10, 10, 10, 0.3);
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 60px 0 60px;
  color: #fff;
}

nav li {
  display: inline-block;
  list-style: none;
  padding-right: 10px;
  padding-left: 10px;
}

nav li span {
  padding-left: 10px;
}

li a {
  padding: 5px;
  text-decoration: none;
  color: #fff;
}

.cart a {
  background-color: #42603e;
  cursor: pointer;
}

.cart a:hover {
  background-color: #375134;
}

.cart ion-icon {
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}

/* container */
.container,
.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
  gap: 1rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 5px #777;
}

.image {
  background-color: rgba(0, 0, 0, 0.02);
  border: 1px solid #ececec;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4 {
  opacity: 1;
  bottom: 50px;
}

.image:hover {
  box-shadow: 0 0 5px #888;
  transition: all 0.4s ease;
}

.image img {
  width: 12rem;
  height: 180px;
  border: 1px solid #ececec;
  box-sizing: border-box;
}

.add-cart {
  position: absolute;
  width: 100%;
  background-color: darkgray;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
  bottom: 50px;
}

/* CART PAGE */
.products-container {
  max-width: 650px;
  justify-content: space-around;
  margin: 50px auto 0;
}

.product-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgrey;
  margin: 0 auto;
}

.product-header > h5 {
  display: flex;
  align-items: center;
}

.product > div {
  display: flex;
  align-items: center;
}

.title {
  width: 35%;
}

.title > span {
  margin-left: 10px;
}

.price {
  width: 15%;
}

.quantity {
  width: 30%;
}

.quantity ion-icon {
  cursor: pointer;
  margin: 0 10px;
}

.total {
  width: 10%;
}

.remove {
  width: 10%;
}

.products {
  flex-wrap: wrap;
  display: flex;
}

.product {
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ececec;
  display: flex;
  align-items: center;
}

.product:first-child {
  margin-top: 0;
  border-top: none;
}

.products img {
  width: 75px;
  height: 75px;
}

.product ion-icon {
  background-color: #dcdcdc;
  color: #585858;
  border-radius: 19px;
  height: 19px;
  line-height: 19px;
  width: 19px;
  font-size: 9px;
  text-align: center;
  border: 0 none;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}

.product ion-icon:hover {
  background-color: #cfcfcf;
}

.basketTotalContainer {
  width: 100%;
}

.basketTotalContainer > div {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.basketTotalTitle > span {
  margin-left: 10px;
}

.btn {
  padding: 8px 20px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #233721;
  color: #fff;
  transition: background-color 0.2s ease-out;
  border-radius: 2px;
  text-transform: uppercase;
  line-height: 1.42;
}

.btn:hover {
  background-color: #192717;
}

.btn ion-icon {
  vertical-align: middle;
  font-size: 20px;
}
