@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Playfair+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: #fff;
}

header {
  background-image: url("pic/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30vh;
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  background-color: rgba(10, 10, 10, 0.3);
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 60px 0 60px;
}

nav li {
  display: inline-block;
  list-style: none;
  padding-right: 10px;
  padding-left: 10px;
}

nav li span {
  padding-left: 10px;
}

li a {
  padding: 5px;
  text-decoration: none;
  color: #fff;
}

.cart a {
  background-color: #42603e;
  cursor: pointer;
}

.cart a:hover {
  background-color: #375134;
}

.cart ion-icon {
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}
