@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Playfair+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #006c70;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background: #eee;
  font-family: "Montserrat", sans-serif;
}

.container {
  background: lightblue;
  height: 400px;
}

.privacy-update {
  background: rgb(255, 255, 255) !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  border-radius: 12px !important;
  box-shadow: rgba(0 0 0 / 28%) 0px 8px 28px !important;
  overflow: hidden !important;
}

.privacy_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  padding: 0 24px;
  min-height: 64px;
  border-bottom: 1px solid rgb(235, 235, 235);
  color: rgb(34, 34, 34);
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
}

.privacy_header h1 {
  font-size: 1em;
}

.privacy_content {
  padding: 24px;
  flex: 1 1 auto;
  overflow-y: auto;
  outline: none;
}

.privacy_content_wrap {
  font-size: 16px;
  line-height: 24px;
  color: rgb(34, 34, 34);
  max-height: 300px;
}

.privacy_footer {
  /* TODO */
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  border-top: 1px solid rgb(235, 235, 235);
  padding: 16px 24px;
  font-size: 16px;
  line-height: 20px;
}

.privacy_disagree {
  cursor: pointer;
  display: inline-block;
  margin: 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: auto;
  /* TODO */
  touch-action: manipulation;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(34, 34, 34);
  outline: none;
  padding: 13px 23px;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  /* TODO */
  -webkit-tap-highlight-color: transparent;
  background: rgb(255, 255, 255) !important;
  color: rgb(34, 34, 34);
}

.privacy_disagree:hover {
  border-color: rgb(0, 0, 0) !important;
  background: rgb(247, 247, 247) !important;
}

.privacy_agree {
  cursor: pointer;
  display: inline-block;
  margin: 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: auto;
  /* TODO */
  touch-action: manipulation;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: rgb(34, 34, 34) !important;
  color: rgb(255, 255, 255) !important;
  /* TODO */
  contain: paint;
}

.privacy_agree:hover {
  background: rgb(0, 0, 0) !important;
}
