* {
    margin: 0;
    padding: 0;
}

body {
    margin: 2rem;
}

.grid {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.grid>div {
    background: #EDE7F6;
    padding: 1.5rem;
    border-radius: 1rem;
}