* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.w {
  width: 880px;
  background: #cccccc;
  margin: 0 auto;
}

.header {
  line-height: 70px;
  height: 70px;
}

.wrap_logo {
  float: left;
}

.header img {
  vertical-align: middle;
}

.header ul {
  margin-left: 40px;
  float: left;
}

.header ul li {
  float: left;
  padding: 0 10px;
}

.header ul li a {
  color: #000000;
  border-bottom: 2px solid transparent;
  padding-bottom: 8px;
}

.header ul li a:hover {
  border-color: #00a4ff;
}

.header ul li .current_page {
  border-color: #00a4ff;
}

.search {
  float: left;
  margin-left: 30px;
}

.search input {
  padding: 6px 10px;
  width: 220px;
  outline: none;
  border: 1px solid #00a4ff;
  margin-right: -5px;
}

.search a {
  background: #00a4ff;
  height: 29px;
  display: inline-block;
  line-height: 29px;
  width: 34px;
  text-align: center;
}

.login_state {
  float: left;
  margin-left: 30px;
}

/* banner */

.banner {
  background: url("./image/nav.png") center;
  height: 420px;
}

.banner .w {
  background: none;
}

.banner>div {
  position: relative;
}

.clearfix {
  overflow: auto;
}

.banner .discover_course {
  width: 220px;
  background: #14024b;
  color: #ffffff;
  height: 420px;
  position: relative;
  float: left;
}

.banner .discover_course li {
  padding: 0 10px;
  font-size: 12px;
  margin: 20px 0;
  width: 220px;
}

.course_active {
  color: #00a4ff;
}

.banner .discover_course ul {
  /* vertical-align: middle; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.banner .discover_course li:hover {
  color: #00a4ff;
  cursor: pointer;
}

.right_icon {
  float: right;
  padding-right: 6px;
}

.my_course {
  float: right;
  color: #ffffff;
  position: absolute;
  width: 230px;
  background: #ffffff;
  height: 280px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.my_course div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}

.my_course p {
  background: lightblue;
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}

.my_course ul {
  padding: 12px 20px;
}

.my_course ul li {
  border-bottom: 1px solid #efefef;
  padding-bottom: 10px;
  padding-top: 10px;
}

.my_course li a {
  color: #000000;
  font-size: 14px;
}

.my_course li a span {
  font-size: 12px;
  color: #a5a5a5;
}

.my_course li a:hover {
  color: #00a4ff;
}

.my_course .all_course {
  color: #00a4ff;
  border: 1px solid #00a4ff;
  width: 190px;
  text-align: center;
  padding: 4px 0;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* recommend_header_section */

.recommend_header_section {
  margin-top: 4px;
}

.recommend_header_section_wrap {
  height: 60px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}

.recommend_header_section_wrap ul {
  overflow: hidden;
}

.recommend_list {
  float: left;
  padding-left: 20px;
}

.recommend_change {
  float: right;
}

.recommend_list li {
  float: left;
  height: 60px;
  line-height: 60px;
  margin-right: 10px;
  padding-left: 10px;
}

.recommend_list li:hover {
  cursor: pointer;
}

.recommend_list li:hover a {
  color: #00a4ff;
}

.recommend_list .active a {
  color: #00a4ff;
  font-size: 14px;
}

.recommend_list .spacer {
  width: 1px;
  background: #bfbfbf;
  height: 13px;
  padding: 0;
  margin: 23px 5px 0;
}

.recommend_list li a {
  color: #000000;
}

.recommend_change {
  height: 60px;
  line-height: 60px;
  margin-right: 140px;
}

.recommend_change a {
  color: #00a4ff;
  font-size: 14px;
}

/* high-quauity_recommend */

.high-quauity_recommend .w {
  background: none;
}

.high-quauity_recommend {
  margin-top: 24px;
}

.high-quauity_recommend-wrap {
  /* background: lightblue; */
  overflow: auto;
}

.high-quauity_recommend-wrap h3 {
  float: left;
  color: #494949;
  font-size: 14px;
}

.high-quauity_recommend-wrap a {
  float: right;
  color: #c3c4c5;
  font-size: 10px;
  margin-right: 20px;
}

.high-quauity_recommend-carousel li {
  /* width: 18%; */
  width: 168px;
  float: left;
  background: #ffffff;
  margin-right: 10px;
  height: 220px;
  margin-bottom: 18px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  position: relative;
}

.high-quauity_recommend-carousel .service_corner {
  position: absolute;
  right: -2px;
  top: 2px;
  color: #ff592d;
  font-size: 10px;
  padding: 2px 4px;
  border: 1px solid #ff592d;
  background: #ffffff;
}

.high-quauity_recommend-carousel {
  margin-top: 18px;
}

.high-quauity_recommend-carousel ul {
  overflow: auto;
}

.high-quauity_recommend-carousel li:last-child {
  margin-right: 0;
}

.high-quauity_recommend-carousel a div {
  width: 168px;
}

.high-quauity_recommend-carousel a div img {
  width: 100%;
}

.high-quauity_recommend-carousel a p {
  text-align: left;
  color: #000000;
  font-size: 12px;
}

.high-quauity_recommend-carousel a p {
  padding-left: 16px;
  padding-top: 12px;
  padding-right: 16px;
}

.high-quauity_recommend-carousel .course_level {
  color: #ff7c2d;
}