* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

h1 {
    text-align: center;
    padding: 1rem 0;
    border-bottom: 2px solid #000;
}

#posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8rem;
    padding: 1rem 4rem;
}

#posts div {
    background-color: #20848a;
    height: 40rem;
    text-align: center;
}

.post img {
    width: 100%;
}