* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header {
  background: linear-gradient(0deg, #fe70d8, #3713c1);
}

.main-header .container {
  display: flex;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  align-items: center;
}

.main-header .logo {
  width: 50px;
}

.main-header .logo img {
  vertical-align: middle;
  width: 100%;
}

.main-header .main-nav {
  margin: auto;
}

.main-header .main-nav a {
  text-decoration: none;
  color: #fff;
  padding: 5px 1em;
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}

.main-header .main-nav a:hover {
  transform: translateY(-5px);
}

.main-header .main-nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -5px;
  height: 0;
  background: #fff;
  border-bottom: 1px solid #fff;
}

.main-header .main-nav a:hover::after {
  left: 0%;
  right: 0%;
}

.main-header .header-search {
  display: flex;
}

.main-header .header-search input, .main-header .header-search button {
  border: none;
  background-color: #fff;
  padding: 5px 10px;
}

.main-header .header-search input:focus, .main-header .header-search button:focus {
  outline: none;
}

.main-header .header-search input {
  border-radius: 200px 0 0 200px;
}

.main-header .header-search button {
  border-radius: 0 200px 200px 0;
}