* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrap {
  margin: 100px 0;
}

.container {
  position: relative;
  width: 1200px;
  margin: auto;
}

.container h1 {
  width: 400px;
  font-size: 80px;
  box-sizing: border-box;
  padding: 15px;
  float: right;
  position: relative;
  color: #aaa;
}

.container h1::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 200px;
  height: 200px;
  border: 30px solid #F1C555;
  bottom: 0;
  transform: rotate(20deg);
}

.container .txt {
  column-count: 2;
  column-gap: 30px;
}

.container p {
  line-height: 1.6;
  margin-bottom: 1em;
}