.container {
  background: #efe9e7;
  padding-top: 52px;

  @include small-ipad {
    padding-top: 30px;
  }

  .aside {
    margin-left: 2%;
    float: left;

    h3 {
      font-size: 20px;
      color: #3D1101;
      margin-bottom: 16px;
    }

    li {
      border-bottom: 1px solid #3d1101;

      a {
        display: block;
        width: 100%;
        padding: 10px;
        padding-right: 50px;
        text-decoration: none;
        color: #3D1101;
      }

      &:hover a {
        background-color: #3D1101;
        color: #fff;
      }
    }

    @include small-ipad {
      float: none;
      margin: 0 10px;
    }
  }
}