@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0 auto;
    background: #fa4242;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 400px;

    h1 {
        font-family: "Anton", sans-serif;
        font-size: 5rem;
        line-height: 1.1;
        text-align: center;
        color: #013034;
        text-transform: uppercase;
    }

    .wrapper {
        margin: 5rem 0;
        padding: 2rem;
        border: 2px solid #fff;;

        #count {
            font-size: 5rem;
            font-weight: bold;
            color: #fff;
            width: 100%;
            text-align: center;
        }

        #minus {
            padding: 0 13px;
        }

        .btn {
            margin: 2rem 1.5rem 0;
            padding: 0 10px;
            border: 2px solid #fff;
            border-radius: 50%;
            background: transparent;
            font-size: 2rem;
            color: #fff;
            cursor: pointer;

            &:hover {
                background: rgba(#000, .3);
            }
        }
    }

    h3 {
        text-transform: uppercase;
        color: #013034;
    }
}

