:root {
    --blue: #3498db;
    --dark-blue: #2980b9;
    --background: #091118;
    --grey: #333;
    --light-grey: #3b3b3b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--background);

    .menu {
        width: 20rem;
        border-radius: 0.2rem;
        overflow: hidden;

        a {
            text-decoration: none;
        }

        .btn {
            display: block;
            padding: 1rem 1.2rem;
            background: var(--blue);
            color: white;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 1rem;
                height: 1rem;
                background: var(--blue);
                left: 1.5rem;
                bottom: 0.5rem;
                transform: rotate(45deg);
            }

            i {
                margin-right: 1rem;
            }
        }

        .menu-item {
            list-style: none;
            border-top: 1px solid var(--dark-blue);

            &__sub {
                background: var(--grey);
                overflow: hidden;
                max-height: 0;
                transition: max-height 0.3s;

                a {
                    display: block;
                    padding: 1rem 1.6rem;
                    color: white;
                    font-size: 0.9rem;
                    position: relative;
                    border-bottom: 1px solid var(--light-grey);

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 0.4rem;
                        height: 100%;
                        background: var(--blue);
                        transform: translatex(-0.4rem);
                        transition: 0.3s;
                        opacity: 0;
                    }

                    &:hover::before {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
            }

            &:target .menu-item__sub {
                max-height: 10em;
            }
        }
    }
}