@import url("http://fonts.cdnfonts.com/css/airbnb-cereal-app");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Airbnb Cereal App", sans-serif;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#searchInput {
  outline: none;
  border: none;
  width: 100%;
  margin-bottom: 20px;
}

#searchInput:focus {
  border-bottom: 2px solid #4575b6;
}

.app {
  width: 80vw;
  height: 100vh;
  margin: 20px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 5px 7px gray;
}

thead {
  box-shadow: 0px 0px 10px gray;
}

th {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
}

td {
  padding: 0.5rem 3rem;
  font-size: 1rem;
}

tr:nth-child(even) {
  background-color: #eee;
}

tbody tr:hover {
  background-color: #00848a;
  color: #fff;
}
