* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  align-items: center;
  height: 65px;
  padding: 20px;
  color: #fff;
}

.header--image {
  margin-right: 6px;
  height: 100%;
}

.header--title {
  margin-right: auto;
  font-size: 1.25rem;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}
