* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  background-color: #003;
}

.wrap {
  width: 1200px;
  display: flex;
  margin: auto;
}

.item {
  width: 370px;
  margin: 15px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  transition: .5s;
}

.item:hover {
  transform: translateY(-40px);
}

.item img {
  width: 100%;
  vertical-align: middle;
}

.item h2 {
  border-bottom: 1px solid #888;
  padding-bottom: 0.3em;
  margin-bottom: 0.4em;
  font-weight: 900;
  transition: .25s;
}

.item p {
  line-height: 1.6;
  font-weight: 300;
  transition: .25s;
}

.item .txt {
  padding: 20px;
  position: relative;
}

.item .txt:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  border-top: 50px solid transparent;
  border-left: 184px solid #fff;
  border-right: 184px solid #fff;
  transform: translateY(-100%);
}

.item:hover .txt {
  background-image: linear-gradient(0deg, #FB8076, #FEB85D);
}

.item:hover .txt:before {
  border-left-color: #FEB85D;
  border-right-color: #FEB85D;
}

.item:hover h2 {
  color: #fff;
  border-bottom-color: #fff;
}

.item:hover p {
  color: #fff;
}